<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="./static/css/main-3.css" rel="stylesheet" />
    <link rel="icon" href="./static/images/logo.png" />
    <title>HigIA Report - Extrato</title>
</head>
<body>
    <div class="v120_13">
        <div class="v120_14">
            <div class="v120_15"></div>
            <div class="v120_16">
                <div class="v2103_679">
                    <div class="v2103_680">
                        <div class="v2103_681"></div>
                    </div>
                    <span class="v2103_682">Inicio</span>
                </div>
                <div class="v120_26">
                    <div class="v120_18">
                        <div class="v120_19"></div>
                    </div>
                    <span class="v120_29">Inicio</span>
                </div>
                <div class="v2119_2">
                    <div class="v2103_727">
                        <div class="name"></div>
                    </div>
                    <a href="./templates/index.html" class="v2119_8">Extrato</a>
                </div>
                <div class="v129_8">
                    <div class="v129_9">
                        <div class="v129_10">
                            <div class="v129_11">
                                <div class="v129_12"></div>
                                <div class="v129_13"></div>
                            </div>
                        </div>
                    </div>
                    <span class="v129_14">Histórico</span>
                </div>
            </div>
            <div class="v2106_993"></div>
        </div>
        <div class="v120_80">
            <div class="v120_126">
                <div class="v120_127"></div>
            </div>
            <div class="v2120_32">
                <div class="v2120_100">
                    <div class="v2120_101"></div>
                    <span class="v2120_102">Turings Recebidos</span>
                    <div class="v2120_103">
                        <div class="v2120_104">
                            <div class="v2120_105"></div>
                            <div class="v2120_106">
                                <div class="v2120_107"></div>
                            </div>
                            <span class="v2120_108">Dario C.</span>
                            <span class="v2120_109">ID 00000001</span>
                            <span class="v2120_110">T 50,36</span>
                            <span class="v2120_348">30/07/2024</span>
                            <div class="v2120_119">
                                <div class="v2120_120">
                                    <div class="v2120_121"></div>
                                </div>
                            </div>
                        </div>
                        <div class="v2120_122">
                            <div class="v2120_123"></div>
                            <span class="v2120_349">30/07/2024</span>
                            <div class="v2120_124">
                                <div class="v2120_125"></div>
                            </div>
                            <span class="v2120_126">Danilo B. </span>
                            <span class="v2120_127">ID 00000002</span>
                            <span class="v2120_128">T 80,36</span>
                            <div class="v2120_137">
                                <div class="v2120_138">
                                    <div class="v2120_139"></div>
                                </div>
                            </div>
                        </div>
                        <div class="v2120_140">
                            <div class="v2120_141"></div>
                            <div class="v2120_142">
                                <div class="v2120_143"></div>
                            </div>
                            <span class="v2120_144">Danilo B.</span>
                            <span class="v2120_145">ID 00000002</span>
                            <span class="v2120_146">T 50,036</span>
                            <div class="v2120_155">
                                <div class="v2120_156">
                                    <div class="v2120_157"></div>
                                </div>
                            </div>
                            <span class="v2120_350">30/07/2024</span>
                        </div>
                        <div class="v2120_158">
                            <div class="v2120_159"></div>
                            <div class="v2120_160">
                                <div class="v2120_161"></div>
                            </div>
                            <span class="v2120_162">Dario C.</span>
                            <span class="v2120_163">ID 00000001</span>
                            <span class="v2120_164">T 500,000</span>
                            <div class="v2120_173">
                                <div class="v2120_174">
                                    <div class="v2120_175"></div>
                                </div>
                            </div>
                            <span class="v2120_351">30/07/2024</span>
                        </div>
                        <div class="v2120_176">
                            <div class="v2120_177"></div>
                            <div class="v2120_178">
                                <div class="v2120_179"></div>
                            </div>
                            <span class="v2120_180">Dario C.</span>
                            <span class="v2120_181">ID 00000001</span>
                            <span class="v2120_182">T 50,036</span>
                            <div class="v2120_191">
                                <div class="v2120_192">
                                    <div class="v2120_193"></div>
                                </div>
                            </div>
                            <span class="v2120_352">30/07/2024</span>
                        </div>
                    </div>
                    <div class="v2120_194">
                        <span class="v2120_195">Mostrando 5 de 10 páginas</span>
                        <div class="v2120_196">
                            <div class="v2120_197">
                                <div class="v2120_198"></div>
                            </div>
                            <div class="v2120_199">
                                <div class="v2120_200"></div>
                                <span class="v2120_201">1</span>
                            </div>
                            <div class="v2120_202">
                                <div class="v2120_203"></div>
                                <span class="v2120_204">2</span>
                            </div>
                            <div class="v2120_205">
                                <div class="v2120_206"></div>
                                <span class="v2120_207">3</span>
                            </div>
                            <div class="v2120_208">
                                <div class="v2120_209"></div>
                                <span class="v2120_210">4</span>
                            </div>
                            <div class="v2120_211">
                                <div class="v2120_212"></div>
                                <span class="v2120_213">5</span>
                            </div>
                            <div class="v2120_214">
                                <div class="v2120_215"></div>
                                <span class="v2120_216">6</span>
                            </div>
                            <div class="v2120_217">
                                <div class="v2120_218"></div>
                                <span class="v2120_219">7</span>
                            </div>
                            <div class="v2120_220">
                                <div class="v2120_221"></div>
                                <span class="v2120_222">8</span>
                            </div>
                            <div class="v2120_223">
                                <div class="v2120_224"></div>
                                <span class="v2120_225">9</span>
                            </div>
                            <div class="v2120_226">
                                <div class="v2120_227"></div>
                                <span class="v2120_228">10</span>
                            </div>
                            <div class="v2120_229">
                                <div class="v2120_230"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="v120_138"></div>
            </div>
        </div>
    </div>
</body>
</html>
